.navBar {
  padding: 2rem 4rem;
  min-width: 100%;
  max-width: 200rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  gap: 4rem;
  & > * {
    text-transform: capitalize;
  }
}

.active {
  color: skyblue;
}
